.timeline{
    position: relative;
    margin:50px auto;
    width:1000px;
    padding:40px 0px;
}
#push{
    height:150px;
}
hr{
    width: 80px; 
    margin-bottom: 30px;
    border-top: 10px solid #47b0e2;
    border-bottom: none;
    border-radius: 10px;
    margin-left:40%;
}
.lightgray{
    color:#343434;
}
.bigger{
    font-size: 3em;
}

.timeline:before{
    content:'';
    position: absolute;
    left:50%;
    width:2px;
    height:100%;
    background: #c5c5c5;
}
.time{
    width:50%;
}

.timeline ul{
    margin:0;
    padding: 0;
}
.timeline ul li{
    list-style: none;
    position: relative;
    width:50%;
    box-sizing: border-box;
    padding:20px 40px;
    
}
.timeline ul li:nth-child(odd){
    float:left;
    text-align: right;
    clear:both;
}
.timeline ul li:nth-child(even){
    float:right;
    text-align: left;
    clear:both;
}
.content{
    padding-bottom:20px;

}

.timeline ul li:nth-child(odd):before{
    content:'';
    top:24px;
    right:-6px;
    position:absolute;
    width:10px;
    height:10px;
    background: #341299;
    border-radius: 50%;
    box-shadow: 0 0 1px 5px #8982f3;
    /* box-shadow:  */

}
.timeline ul li:nth-child(even):before{
    content:'';
    top:24px;
    left:-4px;
    position:absolute;
    width:10px;
    height:10px;
    background: #ff00ff;
    box-shadow: 0 0 1px 5px #f382e4;
    border-radius: 50%;
    /* box-shadow:  */


}


.timeline ul li:nth-child(odd) .time{
    position: absolute;
    top:12px;
    right:-250px;
    margin:0;
    padding:8px 16px;
}

.timeline ul li:nth-child(even) .time{
    position: absolute;
    top:12px;
    left:-240px;


}
.first-header{
    font-size: 3em;
    text-align: center;
    margin-top:50px; 
}
@media (max-width:1000px){
    .timeline{
        width:100%;
    }

  
}
@media (max-width: 800px){
    h1{
        text-align: center !important;
        font-size: 40px;
    }
    .timeline{
        width:100%;
    }
    .timeline:before{
        left:20px;
    }
    .timeline li:nth-child(odd), 
    .timeline li:nth-child(even){

        width:100%;
        text-align: left !important;
    }
    .timeline li:nth-child(odd):before, 
    .timeline li:nth-child(even):before{
        top: 0px;
        left:15px;


    }
    .timeline li:nth-child(odd) .time, 
    .timeline li:nth-child(even) .time{
        top:80px !important;
        left:50px;
        right:inherit;

    }


}
